<div class="social">
    <div class="social__header">
        <nav class="nav">
            <div class="container-fluid">
                <div class="nav__brand"></div>
                <div class="user-notice"></div>
                <ul class="nav__list">
                    <li class="nav__list__it">
                        <a ui-sref-active="active" href="#" class="nav__list__link">@R("Лента")</a>
                    </li>
                    <li class="nav__list__it">
                        <a ui-sref-active="active" ui-sref="main.profile({userId: $root.user.id})" class="nav__list__link">@R("Мой дневник")</a>
                    </li>
                    <li class="nav__list__it">
                        <a ui-sref-active="active" href="#" class="nav__list__link">@R("Атлеты")</a>
                    </li>
                    <li class="nav__list__it">
                        <a ui-sref-active="active" ui-sref="main.achievementList" class="nav__list__link">@R("Заявки на достижения")</a>
                    </li>
                </ul>
                <div class="nav__right">
                    <button class="nav__journal btn btn-fill-green" type="button" data-modal-click="journalSubmit">+ @R("Запись в дневник")</button>
                    <div class="btn-group nav__dropdown" dropdown is-open="isOpen">
                        <div class="nav__dropdown__btn" dropdown-toggle>
                            <img class="nav__dropdown__photo" ng-src="{{ $root.user.avatar | imageResize:{w: 45, h:45} }}" alt="{{$root.user.fullName}}" />
                            <span class="caret"></span>
                        </div>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a ui-sref="main.profile({userId: $root.user.id})">@R("Мой дневник")</a></li>
                            @*<li role="menuitem"><a href="#">@R("Настройки")</a></li>
                            <li role="menuitem"><a href="#">@R("Выход")</a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="social__content">
        <div ui-view="socialContent"></div>
    </div>
</div>