<div class="fs-modal__title">@R("Вход")</div>
<div class="fs-modal__body login-modal">
    <div data-server-validation="serverValidation">
        <form name="LoginForm" ng-submit="submit()">
            <div class="fs-form__row">
                <input name="phone" type="text" ng-model="login.phone" required placeholder="@R("Номер телефона без +")" class="fs-input" />
            </div>
            <div class="fs-form__row">
                <input name="password" type="password" ng-model="login.password" required placeholder="@R("Пароль")" class="fs-input" />
            </div>
            <div class="fs-modal__submit">
                <button ng-disabled="!LoginForm.$valid"
                        class="btn btn-fill-green btn-xl" type="submit">
                    @R("Войти")
                </button>
            </div>
            <div class="login-modal__bottom">
                @R("Ещё нет аккаунта?") <span class="link" data-modal-click="restorePasswordSubmitPhone">@R("Забыли пароль?")</span><br />
                <span class="link" ng-click="toRegistration()">@R("Зарегистрироваться")</span>
            </div>
        </form>
    </div>
</div>