<section class="achievement-list-page">
    <div data-loader="ach.loader"
         data-delay="100"
         ng-if="!ach.pageError">
        <div class="filter-header-row">
            <div class="container">
                <select ng-model="ach.filter.type"
                        ng-change="ach.updateList()"
                        ng-options="option for option in ach.prop.types"
                        class="fs-input fs-input--xs fhr__select">
                    <option value="">@R("Все")</option>
                </select>
                <div class="fhr__toggle">
                    <div class="fs-radio">
                        <input ng-model="ach.filter.actual" value="opened" name="filterActual" class="fs-radio__input" type="radio" id="filter_now" />
                        <label class="fs-radio__label" for="filter_now">@R("Текущие")</label>
                    </div>
                    <div class="fs-radio">
                        <input ng-model="ach.filter.actual" value="closed" name="filterActual" class="fs-radio__input" type="radio" id="filter_last" />
                        <label class="fs-radio__label" for="filter_last">@R("Закрытые")</label>
                    </div>
                </div>
                <select ng-show="ach.filter.actual == 'closed'"
                        ng-model="ach.filter.status"
                        ng-change="ach.updateList()"
                        class="fs-input fs-input--xs fhr__select">
                    <option value="all">@R("Зачет/Незачет")</option>
                    <option value="fail">@R("Незачет")</option>
                    <option value="credit">@R("Зачет")</option>
                </select>
                <a ui-sref="main.achievementAdd" class="btn btn-fill-green fhr__link">+ @R("Подать заявку")</a>
            </div>
        </div>

        <div class="alp__inner"
             content-height=".alp__filter">
            <div class="container">
                
                <achievement-list-row ng-model="ach.list"></achievement-list-row>

                <div ng-if="ach.showMore" class="text-center show-more show-more--light">
                    <button ng-class="{ 'loading': ach.showMoreLoading }"
                            ng-click="ach.loadMore()"
                            type="button" class="show-more__btn">
                        @R("Показать ещё")
                    </button>
                </div>
                <div ng-if="!ach.list.length" class="alert alert-info text-center">
                    @R("Ничего не найдено. Попробуйте изменить критерии поиска.")
                </div>
            </div>
        </div>
    </div>

    <div ng-if="ach.pageError"
         class="server-error server-error--dark">
        <div class="container">
            <div class="alert alert-warning text-center">@R("Что то пошло не так. Пожалуйста вернитесь на страницу просмотра списка достижений позже. Мы уже прилагаем все усилия чтобы устранить проблему.")</div>
        </div>
    </div>
</section>