<section class="achievement-submit"
         data-loader="ach.loader">
    <div ng-if="!ach.pageError">

        <div class="as__steps"
             ng-class="{ 'as__steps--part': !ach.marks.length }">
            <div class="container">
                <div ng-class="{'active': ach.currentStep == 0}"
                     class="as__steps__it">
                    <span>@R("1. Выберите достижение")</span>
                </div>
                <div ng-class="{'active': ach.currentStep == 1}"
                     class="as__steps__it">
                    <span>@R("2. Приложите видео")</span>
                </div>
                <div ng-if="ach.marks.length"
                     ng-class="{'active': ach.currentStep == 2}"
                     class="as__steps__it">
                    <span>@R("3. Проголосуйте за других")</span>
                </div>
            </div>
        </div>

        <div class="container">

            @* ----- First step ----- *@
            <div ng-show="ach.currentStep == 0"
                 class="as__step">
                <div class="as__header">
                    <span class="link link--blue" ng-click="ach.cancel()">@R("Отмена")</span>
                    <button ng-click="ach.nextStep()"
                            ng-disabled="!ach.firstValid"
                            class="btn btn-fill-green btn-xl">
                        @R("Следующий шаг")
                        </button>
                    </div>
                    <ul class="achievement-select-list">
                        <li ng-repeat="c in ::ach.cards"
                            ng-class="{ 'asl__it--focus': c.focus }"
                            class="asl__it">
                            <img ng-src="{{::c.img}}" class="asl__it__img" />
                            <div ng-click="ach.cardFocus(c)"
                                 class="asl__it__focus"></div>
                            <div class="asl__it__overlay">
                                <div class="asl__it__overlay__in">
                                    <p class="asl__it__title">{{::c.title}}</p>
                                    <select ng-model="c.selected"
                                            ng-change="ach.checkFirstStep()"
                                            ng-options="option for option in c.values"
                                            class="fs-input">
                                        <option value="">@R("Количество")</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                @* ----- First step ----- *@


                @* ----- Second step ----- *@
                <div ng-show="ach.currentStep == 1"
                     class="as__step as__step--video">
                    <div class="as__header">
                        <span class="link link--blue" ng-click="ach.prevStep()">@R("Назад")</span>
                        <button ng-click="ach.nextStep()"
                                ng-disabled="!ach.model.video.id"
                                class="btn btn-fill-green btn-xl">
                            <span ng-show="ach.marks.length">@R("Следующий шаг")</span>
                            <span ng-show="!ach.marks.length">@R("Готово")</span>
                        </button>
                    </div>
                    <div class="as__subtitle">
                        @R("Для того, чтобы получить достижение, познакомьтесь с условиями посмотрев видео.")
                        <span ng-click="ach.second.hideExample()">
                            <span ng-if="ach.second.isExampleShow" class="link link--blue">@R("Скрыть")</span>
                            <span ng-if="!ach.second.isExampleShow" class="link link--blue">@R("Показать")</span>
                        </span>
                    </div>
                    <div ng-show="ach.second.isExampleShow"
                         class="as__example embed-responsive embed-responsive-16by9">
                        <youtube-video class="embed-responsive-item" video-url="ach.second.exampleLink" player="ach.second.ePlayer"></youtube-video>
                    </div>
                    <div class="as__divider"></div>
                    <form class="fs-form" name="VideoSelect" ng-submit="ach.second.getVideoInfo()">
                        <div class="row">
                            <div class="col-sm-10 col-xs-7">
                                <input ng-disabled="ach.model.video.id"
                                       ng-model="ach.model.video.remoteUrl" required class="fs-input fs-input--border" type="text" placeholder="@R("Вставьте ссылку на видео в YouTube")" />
                            </div>
                            <div class="col-sm-2 col-xs-5 text-right">
                                <button ng-disabled="!VideoSelect.$valid || ach.model.video.id"
                                        type="submit" class="btn btn-fill-green btn-xl">
                                    @R("Загрузить")
                                </button>
                            </div>
                        </div>
                    </form>
                    <div ng-if="ach.model.video.id">
                        <div class="as__subtitle">
                            @R("Ваше видео успешно загружено.")
                            <span ng-click="ach.second.removeVideo()" class="link link--blue">
                                @R("Удалить")
                            </span>
                        </div>
                        <div class="as__example embed-responsive embed-responsive-16by9">
                            <youtube-video class="embed-responsive-item" video-url="ach.model.video.remoteUrl"></youtube-video>
                        </div>
                    </div>
                </div>
                @* ----- Second step ----- *@


                @* ----- Third step ----- *@
                <div ng-show="ach.currentStep == 2 && ach.marks.length"
                     class="as__step">
                    <div class="as__header">
                        <span class="link link--blue" ng-click="ach.prevStep()">@R("Назад")</span>
                        <button class="btn btn-fill-green btn-xl">
                            @R("Готово")
                        </button>
                    </div>
                    <div class="as__subtitle">
                        @R("Ваша заявка сохранена. Для того, чтобы она появилась в списке всех заявок, оцените заявки от других атлетов. Осталось: ") {{::ach.marks.length}}
                    </div>
                    <div class="achievement-list achievement-list--row">
                        <a ui-sref="main.achievementView({id: m.id})" ng-repeat="m in ach.marks"
                            class="al__it">
                            <div class="al__it__media">
                                <div class="al__it__media__it">
                                    <img ng-src="{{ ::(m.iconUrl|imageResize:{w: 75, h: 75}) }}" class="image-ach" />
                                </div>
                                <div class="al__it__media__it">
                                    <img ng-src="{{ ::(m.user.avatar|imageResize:{w: 100, h: 100}) }}" class="image-user" />
                                </div>
                            </div>
                            <div class="al__it__info">
                                <p class="al__it__title">{{::m.title}}</p>
                                <p class="al__it__user">
                                    {{::m.user.fullName}} &#183; {{::m.created}}
                                </p>
                                <div class="al__it__bottom">
                                    <span class="al__it__stat">
                                        <span class="icon-ok"></span>
                                        <span class="al__it__stat__count">{{::m.voice.for}}</span>
                                    </span>
                                    <span class="al__it__stat">
                                        <span class="icon-fail"></span>
                                        <span class="al__it__stat__count">{{::m.voice.against}}</span>
                                    </span>
                                    <span class="al__it__time-left">@R("Осталось"): {{::m.timeSpent|formatWord:['@R("день")', '@R("дня")', '@R("дней")']:true}}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <button ng-click="ach.cancel()" type="button" class="btn btn-xl btn-fill-red">@R("Удалить заявку")</button>
                </div>
                @* ----- Third step ----- *@

            </div>
    </div>
    <div ng-if="ach.pageError"
         class="server-error server-error--dark">
        <div class="container">
            <div class="text-center">
                <div class="alert alert-warning">@R("На сайте возникли проблемы с подачей заявки на достижение. Команда Fortress уже исправляет проблему.")</div>
            </div>
        </div>
    </div>
</section>