<section class="achievement-view">
    <div class="bread">
        <a ng-if="!ach.pageError" ui-sref="main.profile({userId: ach.it.author.id})" class="bread__back">
            <i class="bread__back__icon"></i>
            <span ng-if="!record.it.isOwner" class="bread__back__text">{{::ach.it.author.fullName}}</span>
            <span ng-if="record.it.isOwner" class="bread__back__text">@R("Мой дневник")</span>
        </a>
        <span ng-if="ach.pageError"
              ng-click="$root.back()"
              class="bread__back link">
            <i class="bread__back__icon"></i>
        </span>
        <div class="bread__title">
            @R("Заявка на достижение")
        </div>
    </div>
    <div class="view-base"
         conent-height=".bread"
         data-loader="ach.loader">
        <div ng-if="!ach.loader && !ach.pageError">
            <div class="view-base__top">
                <div class="container">
                    <div class="achievement-wrap">
                        <div class="ach__type">
                            <img ng-src="{{ ::(ach.it.cupImage|imageResize:{w: 235,h: 345}) }}" class="ach__img"/>
                            <div ng-class="{ 'voice--active': !ach.it.voice.isVoited }"
                                 class="voice">
                                <div ng-click="ach.voice('like')" class="voice__part voice__part--for">
                                    <div class="voice__bar" ng-style="{ 'width': ach.forBarWidth }"></div>
                                    <div class="voice__text-wrap">
                                        <span class="icon"></span>
                                        <span class="voice__text">@R("Зачет")<span class="voice__val">: {{ach.it.voice.for}}</span></span>
                                    </div>
                                </div>
                                <div ng-click="ach.voice('dislike')" class="voice__part voice__part--against">
                                    <div class="voice__bar" ng-style="{ 'width': ach.againstBarWidth }"></div>
                                    <div class="voice__text-wrap">
                                        <span class="icon"></span>
                                        <span class="voice__text">@R("Незачет")<span class="voice__val">: {{ach.it.voice.against}}</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="ach__time">
                                @R("Осталось: "){{ach.it.timestamp}} @*6 дн. 10 ч. 15 мин.*@
                            </div>
                        </div>
                        <div class="ach__media">
                            <div class="embed-responsive embed-responsive-16by9">
                                <youtube-video class="embed-responsive-item" video-url="ach.it.videoUrl"></youtube-video>
                            </div>
                            <div class="item-bottom">
                                <a ui-sref="main.profile({userId: ach.it.author.id})" class="item-author">
                                    <img ng-src="{{ ach.it.author.avatar | imageResize:{w: 45, h: 45} }}" class="ia__img" />
                                    <div class="ia__info">
                                        <p class="ia__name">{{::ach.it.author.fullName}}</p>
                                        <p class="ia__date">{{::(ach.it.created|date:'dd MMM yyyy | HH:mm')}}</p>
                                    </div>
                                </a>
                                <div ng-if="ach.it.isOwner" class="rcd__controls">
                                    <div class="rcd__control rcd__control--remove" ng-click="ach.remove()"></div>
                                </div>
                                <likes-in-row ng-model="ach.it.likes" data-id="{{::ach.it.id}}" data-type="achievement"></likes-in-row>
                                <div ng-click="ach.share()" class="btn btn-fill-green">@R("Поделиться")</div>
                            </div>
                        </div>
                    </div>

                    <comment-form ng-model="ach.it.comments"
                                  data-id="{{::ach.it.id}}"
                                  data-entity-type="achievement"></comment-form>

                </div>
            </div>
            <div class="view-base__comments">
                <div class="container">

                    <div class="vbc__count">{{ach.it.comments.list.length | formatWord:['@R("комментарий")', '@R("комментария")', '@R("комментариев")']:true}}</div>

                    <comment-list ng-model="ach.it.comments"
                                  data-id="{{::ach.it.id}}"
                                  data-entity-type="achievement"></comment-list>

                </div>
            </div>
        </div>
        
        <div ng-if="ach.pageError"
             class="server-error server-error--dark">
            <div class="container">
                <div class="alert alert-warning text-center">@R("Что то пошло не так. Пожалуйста вернитесь на страницу просмотра достижения позже. Мы уже прилагаем все усилия чтобы устранить проблему.")</div>
            </div>
        </div>

    </div>
</section>