@model BLL.Admin.Conference.ViewModels.ConferenceHostiryModel
@{
    ViewBag.Title = "Архив конференций";
    Layout = "../Blog/Shared/Layouts/BlogLayout.cshtml";
}

<div class="blog__content conference-page block">
    <div class="container">
        <div class="row blog__content__top">

            <div class="@(Model.Current != null ? "col-sm-8" : "col-xs-12")">

                <div class="mod">
                    <div class="mod__header">
                        <div class="mod__header__title">
                            @("Архив конференций")
                        </div>
                    </div>
                    <div class="mod__content p-all">
                        <div class="video-list">
                            @foreach (var item in Model.Hostiry)
                            {
                                <div class="col-sm-6">
                                    <div class="video-list__it">
                                        <div class="video-list__it__v-wrap">
                                            <iframe height="315" src="@item.Url" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                        <div class="video-list__it__title">
                                            @item.Title
                                        </div>
                                        <div class="video-list__it__desc">
                                            @item.Description
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (!Model.Hostiry.Any())
                            {
                                <div class="alert alert-warning">@("В архиве нет конференций")</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.Current != null)
            {
                <div class="col-sm-4">
                    <div class="mod block">
                        <div class="mod__header">
                            <div class="mod__header__title">@("Предстоящая конференция")</div>
                        </div>
                        <div class="mod__content p-all">
                            <p>@("Название"): <b>@Model.Current.Title</b></p>
                            <p>@("Дата"): <b>@Model.Current.Date</b></p>
                            <p>@("Краткое описание"): @Model.Current.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>