<!DOCTYPE html>
<html lang="ru" ng-app="app" ng-class="{ 'full-height': fullHeight }">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title">@(PageData["title"] ?? "Fortress. Социальная сеть")</title>
    <meta name="description" content="@(PageData["description"] ?? "Социальная сеть для спортсменов, которые хотят достич большего")">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link type="text/css" rel="stylesheet" media="all" href="~/Content/socialApp/styles/compile/fortress.social.min.css">
</head>
@{
  var userObj = "{}";
  if (!CurrentUser.IsAnonimous)
  {
    userObj = string.Format("{{ id: {0}, fullName: \"{1}\", avatar: \"{2}\" }}", CurrentUser.UserId, CurrentUser.User.FullName(), CurrentUser.User.Profile.Avatar);
  }
}
<body ng-init="$root.user = @userObj">
    <div data-loader="$root.loader" class="global-loader-container">
        <div id="ui-view" class="ui-content" ng-cloak ui-view data-tmpl-url="@Request.RequestContext.RouteData.DataTokens["templateUrl"]">
            @RenderBody()
        </div>
    </div>

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <button class="btn btn-fill-green dev__api" type="button" data-modal-click="apiModal">API</button>
    }
    
    <script src="https://www.youtube.com/iframe_api"></script>
    @Scripts.Render("~/bundles/social/assets")
    @Scripts.Render("~/bundles/social/scripts")
</body>
</html>
