@using BLL.Blog.ViewModels
@using BLL.Common.Extensions
@model BLL.Blog.ViewModels.PostCreateModel
      
<form ng-submit="sendArticleData(ar)"
      ng-init='
      media.video.show=@Model.IsVideo.ToString().ToLower() ;
      media.img.show=@((!Model.IsVideo).ToString().ToLower()) && ar.images.length;
      ar.images=@Html.Raw(Model.Images.ToJson()) ;
      ar.text="@Model.Text" ;
      ar.videourl="@Model.VideoUrl" ;
      ar.title="@Model.Title" ;
      ar.id=@(Model is PostEditModel ? (Model as PostEditModel).Id : 0);
      ar.isFortressNews=@Model.IsFortressNews.ToString().ToLower();'
      name="ArticleEdit"
      class="blog-form  article__edit article-new__form">

    @if (CurrentUser.IsAdmin)
    {
        <div class="row">
            <div class="col-xs-12">
                <label>
                    <input type="checkbox" ng-model="ar.isFortressNews"/> @*@(Model.IsFortressNews ? "checked" : "") />*@
                    Это новость Fortress
                </label>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-sm-4">
            <div class="blog-form__desc">Заголовок статьи</div>
        </div>
        <div class="col-sm-8">
            <input ng-model="ar.title" required type="text" class="input" placeholder="Заголовок статьи" />
        </div>
    </div>
    <div class="row" ng-if="ar.isFortressNews == undefined || !ar.isFortressNews">
        <div class="col-sm-4">
            <div class="blog-form__desc">Рубрика</div>
        </div>
        <div class="col-sm-8">
            <select ng-model="ar.rubric" required class="input" @(Model.Rubric != 0 ? "ng-init=ar.rubric=" + Model.Rubric + "" : "")>
                <option value="" @(Model.Rubric == 0 ? "selected" : "")>Выберите рубрику</option>
                @foreach (var r in Model.Rubrics)
                {
                    <option value="@r.Id" @(Model.Rubric == r.Id ? "ng-selected='" + r.Id + "'" : "")>@r.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="blog-form__desc">Медиа</div>
        </div>
        <div class="col-sm-8" ng-cloak>
            <div ng-show="!media.img.show && !media.video.show" class="blog-form__line-height">
                <span class="link" ng-click="media.img.show = true;">Добавить фото</span>
                или
                <span class="link" ng-click="media.video.show = true;">Видео с youtube</span>
            </div>
            <div ng-show="media.video.show">
                <input ng-model="ar.videourl"
                       ng-show="!ar.images.length"
                       ng-autofocus="{{media.video.show}}"
                       type="text" placeholder="ссылка на видео" class="input" />
                <div class="alert alert-danger" ng-show="!media.video.valid && media.video.loaded">Ссылка неверная</div>
                <div ng-repeat="img in ar.images" class="article__edit__images">
                    <img ng-src="{{img.url}}" class="article__edit__img" />
                    <div class="article__edit__img-del">
                        <span ng-click="ar.images = []; ar.videourl = '';" class="link">Удалить видео</span>
                    </div>
                </div>
                <div>
                    <span class="link article__edit__cancel-media" ng-click="media.cancel('video')">Отмена</span>
                </div>
            </div>
            <div ng-show="media.img.show">
                <article-img-uploader images="ar.images"></article-img-uploader>
                <div>
                    <span class="link article__edit__cancel-media" ng-click="media.cancel('img')">Отмена</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="blog-form__desc">Текст статьи</div>
            <div text-angular
                 ng-model="ar.text"
                 ta-toolbar="[['h1','h2','h3', 'quote'],['bold','italics', 'underline', 'undo'], ['justifyLeft', 'justifyCenter', 'justifyRight'], ['insertLink']]"></div>
            <div class="alert alert-warning" ng-show="ar.text.length < 100">
                Минимум 100 символов
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a href="@Url.Action("Index", "Blog")" class="link pull-left">Отмена</a>
            <button ng-disabled="prop.btnIsDisabled || ar.text.length < 100 || (ar.images.length < 1 && !media.videoValid) || ArticleEdit.$invalid" type="submit" class="btn btn--main pull-right">@(CurrentUser.IsAdmin ? "Опубликовать" : "Отправить на модерацию")</button>
        </div>
    </div>
</form>