@using BLL.Common.Extensions
@model BLL.Blog.ViewModels.CreatePostModel
<form ng-submit="sendArticleData(ar)"
      ng-init='
      ar.images=@Html.Raw(Model.Images.ToJson()) ;
      ar.text="@Model.Text" ;
      ar.title="@Model.Title" ;
      ar.id=@Model.Id'
      name="ArticleEdit"
      class="blog-form  article__edit article-new__form">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-4">
            <div class="blog-form__desc">Заголовок статьи</div>
        </div>
        <div class="col-sm-8">
            <input ng-model="ar.title" required type="text" class="input" placeholder="Заголовок статьи" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="blog-form__desc">Рубрика</div>
        </div>
        <div class="col-sm-8">
            <select ng-model="ar.rubric" required class="input" @(Model.Rubric != 0 ? "ng-init=ar.rubric=" + Model.Rubric + "" : "")>
                <option value="" @(Model.Rubric == 0 ? "selected" : "")>Выберите рубрику</option>
                @foreach (var r in Model.Rubrics)
                {
                    <option value="@r.Id" @(Model.Rubric == r.Id ? "ng-selected='" + r.Id + "'" : "")>@r.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="blog-form__desc">Медиа</div>
        </div>
        <div class="col-sm-8">
            <article-img-uploader images="ar.images"></article-img-uploader>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="blog-form__desc">Текст статьи</div>
            <div text-angular
                 ng-model="ar.text"
                 ta-toolbar="[['h1','h2','h3', 'quote'],['bold','italics', 'underline', 'undo'], ['justifyLeft', 'justifyCenter', 'justifyRight'], ['insertLink']]"></div>
            <div class="alert alert-warning">
                Минимум 100 символов
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a href="@Url.Action("Index", "Blog")" class="link pull-left">Отмена</a>
            <button ng-disabled="prop.btnIsDisabled || ar.text.length < 100 || ar.images.length < 1 || ArticleEdit.$invalid" type="submit" class="btn btn--main pull-right">Отправить на модерацию</button>
        </div>
    </div>
</form>