@model PagedList.IPagedList<BLL.Blog.ViewModels.PostPreviewViewModel>
@using Microsoft.Ajax.Utilities
@using PagedList.Mvc;
<div class="mod">
    @*<div class="mod__header">
        <div class="mod__header__title">@ViewBag.RubricName</div>
    </div>*@
    <div class="mod__content">
        <div class="articles-list">
            @if (Model.Count != 0)
            {
                foreach (var item in Model)
                {
                    <div class="al__item">
                        <a href="@Url.Action("Item", "Blog", new { id = item.Id })" class="al__item__img">
                            <img src="@item.Images.Url?width=198&height=198&mode=crop" alt="@item.Title" />
                        </a>
                        <div class="al__item__info">
                            <a href="@Url.Action("Item", "Blog", new { id = item.Id })" class="al__item__title">@item.Title</a>
                            <div class="al__item__desc">@Html.Raw(item.Text.Length > 90 ? item.Text.Substring(0, 90) : item.Text)</div>
                            <div class="al__item__bottom">
                                <div class="pull-left">
                                    @Html.Partial("Shared/Partials/Article/Info", item)
                                </div>
                                <div class="pull-right">
                                    @Html.Partial("Partials/Rating", item)
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="alert alert-warning">Статей на эту тему пока нет. Станьте первым, кто добавит статью!</div>
            }
        </div>
        @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
        @if (Model.PageCount > Model.PageNumber)
        {
            <div class="text-center">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sort = ViewBag.Sort, rubric = ViewBag.Rubric }))
            </div>
        }
    </div>
</div>