@using BLL.Feedbacks.Objects
@model PagedList.IPagedList<BLL.Feedbacks.Objects.FeedbackPreviewModel>
@{
    ViewBag.Title = "Fortress - Отзывы";
    Layout = "../Blog/Shared/Layouts/BlogLayout.cshtml";
}

<div class="container"
     ng-controller="ReviewsCtrl"
     data-reviews
     ng-cloak>
    <div class="row">
        <div class="col-xs-12">
            <div class="mod reviews block">
                <div class="mod__header">
                    <div class="mod__header__title">Отзывы</div>
                </div>
                <div class="mod__content">
                    <div class="tabs-content">
                        <div class="reviews__sort">
                            <span class="rs__text">Сортировать по:</span>
                            <ul class="rs__links">
                                <li class="rs__links__it">
                                    <a href="#" class="btn btn--st1 rs-active">
                                        <span class="rs__icon rs__icon--voite"></span>
                                        Голосам
                                    </a>
                                </li>
                                <li class="rs__links__it">
                                    <a href="#" class="btn btn--st1">
                                        <span class="rs__icon rs__icon--date"></span>
                                        Дате
                                    </a>
                                </li>
                                <li class="rs__links__it">
                                    <a href="#" class="btn btn--st1">
                                        <span class="rs__icon rs__icon--comments"></span>
                                        Комментариям
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <form class="reviews__form"
                              ng-class="{ 'reviews__form--active': m.text.length,
                              'reviews__form--valid': m.text.length >= minlength}"
                              ng-submit="createReview(m)">
                            <div class="row">
                                <div class="col-sm-5 col-md-4 col-lg-3">
                                    <div class="rf__type-wrap">
                                        <span class="rf__type__text">Я хочу</span>
                                        <select ng-model="m.type"
                                                class="rf__type__select">
                                            <option>Предложить идею</option>
                                            <option>Задать вопрос</option>
                                            <option>Оставить благодарность</option>
                                        </select>
                                        <div class="rf__min">Напишите ещё хотя бы {{ minlength-m.text.length | formatWord:['символ', 'символа', 'символов']:true}}</div>
                                    </div>
                                    <button ng-disabled="m.text.length < minlength"
                                            type="submit" class="btn btn--main">
                                        Отправить
                                    </button>
                                </div>
                                <div class="col-sm-7 col-md-8 col-lg-9">
                                    <textarea ng-model="m.text"
                                              class="rf__text" placeholder="Введите текст..."></textarea>
                                </div>
                            </div>
                        </form>
                        <ul class="reviews__list">

                            @*@foreach (var item in Model)
                            {
                                <li class="reviews__it">
                                    <div class="ri__about">
                                        <div class="ri__info">
                                            <div class="ri__icon-clock"></div>
                                            <div class="ri__date">29 АПР 2015<br />14:37</div>
                                            <div class="ri__rating@(item.Rating < 0 ? " ri__rating--minus" : item.Rating > 0 ? " ri__rating--plus" : "")">@item.Rating</div>
                                            <div class="ri__progress">
                                                <div class="ri__bar" style="width: 66%;"></div>
                                            </div>
                                            <div class="ri__actions">
                                                <div class="ri__like"></div>
                                                <div class="ri__dislike"></div>
                                            </div>
                                        </div>
                                        <div class="ri__avatar-wrap">
                                            <img src="@item.AuthorAvatar?width=90&height=90mode=crop" alt="@item.AuthorName" class="ri__avatar" />
                                        </div>
                                    </div>
                                    <div class="ri__content">
                                        <div class="ri__authorname">@item.AuthorName</div>
                                        @switch (item.Type)
                                        {
                                            case (1):
                                                <div class="ri__type ri__type--idea">
                                                    предложил(а) идею
                                                </div>
                                                break;
                                            case (2):
                                                <div class="ri__type ri__type--question">
                                                    задал(а) вопрос
                                                </div>
                                                break;
                                            case (3):
                                                <div class="ri__type ri__type--thank">
                                                    поблагодарил(а)
                                                </div>
                                                break;
                                            default:
                                                break;
                                        }
                                        <div class="ri__text">
                                            @item.Text
                                        </div>
                                        <div class="ri__comments-show">
                                            <span class="ri__comments-show__icon"></span>
                                            <span class="ri__comments-show__text">Показать комментарии</span>: @item.TotalCommentsCount
                                        </div>
                                        <div class="ri__comments-list hidden">
                                            @Html.Partial("Partials/Comments", Model)
                                        </div>
                                    </div>
                                </li>
                            }*@

                            <li class="reviews__it">
                                <div class="ri__about">
                                    <div class="ri__info">
                                        <div class="ri__icon-clock"></div>
                                        <div class="ri__date">29 АПР 2015<br />14:37</div>
                                        <div class="ri__rating">+174</div>
                                        <div class="ri__progress">
                                            <div class="ri__bar" style="width: 66%;"></div>
                                        </div>
                                        <div class="ri__actions" 
                                             data-id="666"
                                             data-likes="120"
                                             data-dislikes="25" 
                                             data-type="Review">
                                            <div class="ri__act ri__act--like active" data-action="like"></div>
                                            <div class="ri__act ri__act--dislike" data-action="dislike"></div>
                                        </div>
                                    </div>
                                    <div class="ri__avatar-wrap">
                                        <img src="#" alt="#" class="ri__avatar" />
                                    </div>
                                </div>
                                <div class="ri__content">
                                    <div class="ri__authorname">Ганнибал Андреев</div>
                                    <div class="ri__type ri__type--idea">
                                        предложил идею
                                    </div>
                                    <div class="ri__text">
                                        Русскому царю телеграмму объяснить, как очутился. Была гордая и спал с точками на стене висели фрукты с дочерью. Зад в космос постель медвежонка. Наглым oбразoм приставала к берегу передо мной сидело невиданное. Я бросился спать и молчалина произошел. Вошел негр, румяный с нежностью смотрели друг. Ледяную воду.. русской натурой, очень любила. Осталось ни одного ласкового слова, кроме слова дура глаза с точками.
                                    </div>
                                    <div class="ri__comments-show">
                                        <span class="ri__comments-show__icon"></span>
                                        <span class="ri__comments-show__text">Показать комментарии</span>: 0
                                    </div>
                                    <div class="ri__comments-list hidden">
                                        Comments
                                    </div>
                                </div>
                            </li>

                            <li class="reviews__it">
                                <div class="ri__about">
                                    <div class="ri__info">
                                        <div class="ri__icon-clock"></div>
                                        <div class="ri__date">29 АПР 2015<br />14:37</div>
                                        <div class="ri__rating">+174</div>
                                        <div class="ri__progress">
                                            <div class="ri__bar" style="width: 66%;"></div>
                                        </div>
                                        <div class="ri__actions">
                                            <div class="ri__like"></div>
                                            <div class="ri__dislike"></div>
                                        </div>
                                    </div>
                                    <div class="ri__avatar-wrap">
                                        <img src="#" alt="#" class="ri__avatar" />
                                    </div>
                                </div>
                                <div class="ri__content">
                                    <div class="ri__authorname">Ганнибал Андреев</div>
                                    <div class="ri__type ri__type--idea">
                                        предложил идею
                                    </div>
                                    <div class="ri__text">
                                        Русскому царю телеграмму объяснить, как очутился. Была гордая и спал с точками на стене висели фрукты с дочерью. Зад в космос постель медвежонка. Наглым oбразoм приставала к берегу передо мной сидело невиданное. Я бросился спать и молчалина произошел. Вошел негр, румяный с нежностью смотрели друг. Ледяную воду.. русской натурой, очень любила. Осталось ни одного ласкового слова, кроме слова дура глаза с точками.
                                    </div>
                                    <div class="ri__comments-show">
                                        <span class="ri__comments-show__icon"></span>
                                        <span class="ri__comments-show__text">Показать комментарии</span>: 0
                                    </div>
                                    <div class="ri__comments-list hidden">
                                        Comments
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
