<section class="profile">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5 pa0">
                <div class="profile__info">
                    <div class="user-info">
                        <div class="user-info__avatar">
                            <img ng-src="profile.user.avatar | imageResize:{w: 230, h: 230}" class="user-infor__avatar__img"/>
                            @*TODO пока аватар менять нельзя, а при регистрации он обязателен*@
                            <div ng-if="!profile.user.avatar.length" class="ui__avatar-upload">
                                <i class="icon-upload"></i>
                                <p class="link">+ @R("Загрузить аватар")</p>
                            </div>
                        </div>
                        <div ng-if="profile.user.loaded" class="user-info__about">
                            <p class="ui__name">{{profile.user.fullName}}</p>
                            <p class="ui__age">{{profile.user.age | formatWord:['@R("год")', '@R("года")', '@R("лет")']:true}} / {{profile.user.sportTime | formatWord:['@R("год")', '@R("года")', '@R("лет")']:true}} @R("в спорте")</p>
                            <p ng-show="profile.user.location.length" class="ui__location">{{profile.user.location}}</p>
                            <a ng-if="profile.user.isOwner" href="#" class="ui__edit">@R("Редактировать профиль")</a>
                        </div>
                    </div>
                    <div class="pi__row">
                        <p class="pi__row__title">@R("Достижения") (0) <span class="link" data-modal-click="aboutAchievement">@R("Что это?")</span></p>
                        <button class="btn btn-fill-green" type="button">@R("Подать заявку на достижение")</button>
                    </div>
                    <div class="pi__row">
                        <p class="pi__row__title">@R("Подписки") ({{profile.user.subscribe.count}}) <a href="#" ng-if="profile.user.subscribe.count > 4" class="link">@R("Показать всех")</a></p>
                        <ul ng-if="profile.user.subscribe.list.length" class="users-list users-list--grid">
                            <li ng-repeat="subscriber in profile.user.subscribe.list" class="ul__it">
                                <a ui-sref="main.profile({userId: subscriber.id})">
                                    <img ng-src="subscriber.avatar | imageResize:{w: 90, h:90}" alt="{{subscriber.fullName}}" class="ul__it__img" />
                                    <span class="ul__it__name">{{subscriber.fullName}}</span>
                                </a>
                            </li>
                        </ul>
                        <a href="#" ng-if="!profile.user.subscribe.list" class="btn btn-fill-green" type="button">@R("Посмотреть всех атлетов")</a>
                        <p class="pi__row__title">@R("Подписчики") ({{profile.user.followers.count}}) <a href="#" ng-if="profile.user.followers.count > 4" class="link">@R("Показать всех")</a></p>
                        <ul ng-if="profile.user.followers.list.length" class="users-list users-list--grid">
                            <li ng-repeat="user in profile.user.followers.list" class="ul__it">
                                <a ui-sref="main.profile({ userId: user.id })">
                                    <img ng-src="user.avatar | imageResize:{w: 90, h:90}" alt="{{user.fullName}}" class="ul__it__img" />
                                    <span class="ul__it__name">{{user.fullName}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="pi__row">
                        <span class="link pi__question" data-modal-click="supportSubmit">
                            <i class="icon-question"></i>
                            <span>@R("Техническая поддержка")</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 pa0">
                <div class="profile__journal">
                    <journal-profile-submit></journal-profile-submit>
                    
                    <div class="wall" data-wall-vertical>
                        <div class="wall__bar">

                            <div class="wall__it wall__it--left wall__it--editing">
                                <div class="wall__it__triangle"></div>
                                <div class="wall__it__btn"></div>
                                <div class="wall__it__inner">
                                    <header class="wall__it__header">
                                        <span class="wi__date">09/05/2015</span>
                                        <div class="wi__share"><i></i></div>
                                        <div class="wi__comment"><i></i></div>
                                    </header>
                                    <section class="wall__it__content">
                                        <p class="wi__text">Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых предложений. Разнообразный и богатый опыт дальнейшее развитие различныхсоответствует насущным потребностям. Товарищи! начало повседневной работы по формированию позиции способствует подготовки и реализации модели развития. Таким образом консультация с широким активом играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также рамки и место обучения кадров способствует подготовки и реализации направлений прогрессивного развития. Товарищи! постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Таким образом укрепление и развитие структуры требуют определения и уточнения дальнейших направлений развития.</p>
                                    </section>
                                    <footer class="wall__it__likes">
                                        <div class="wil__btn"><i></i></div>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__more">+21</a>
                                    </footer>
                                </div>
                            </div>

                            <div class="wall__it wall__it--right">
                                <div class="wall__it__triangle"></div>
                                <div class="wall__it__btn"></div>
                                <div class="wall__it__inner">
                                    <header class="wall__it__header">
                                        <span class="wi__date">09/05/2015</span>
                                        <div class="wi__share"><i></i></div>
                                        <div class="wi__comment"><i></i></div>
                                    </header>
                                    <section class="wall__it__content">
                                        <p class="wi__text">Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых предложений. Разнообразный и богатый опыт дальнейшее развитие различныхсоответствует насущным потребностям. Товарищи! начало повседневной работы по формированию позиции способствует подготовки и реализации модели развития. Таким образом консультация с широким активом играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также рамки и место обучения кадров способствует подготовки и реализации направлений прогрессивного развития. Товарищи! постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Таким образом укрепление и развитие структуры требуют определения и уточнения дальнейших направлений развития.</p>
                                    </section>
                                    <footer class="wall__it__likes">
                                        <div class="wil__btn"><i></i></div>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__more">+21</a>
                                    </footer>
                                </div>
                            </div>

                            <div class="wall__it wall__it--left">
                                <div class="wall__it__triangle"></div>
                                <div class="wall__it__btn"></div>
                                <div class="wall__it__inner">
                                    <header class="wall__it__header">
                                        <span class="wi__date">09/05/2015</span>
                                        <div class="wi__share"><i></i></div>
                                        <div class="wi__comment"><i></i></div>
                                    </header>
                                    <section class="wall__it__content">
                                        <p class="wi__text">Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых предложений. Разнообразный и богатый опыт дальнейшее развитие различныхсоответствует насущным потребностям. Товарищи! начало повседневной работы по формированию позиции способствует подготовки и реализации модели развития. Таким образом консультация с широким активом играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также рамки и место обучения кадров способствует подготовки и реализации направлений прогрессивного развития. Товарищи! постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Таким образом укрепление и развитие структуры требуют определения и уточнения дальнейших направлений развития.</p>
                                    </section>
                                    <footer class="wall__it__likes">
                                        <div class="wil__btn"><i></i></div>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__more">+21</a>
                                    </footer>
                                </div>
                            </div>
                            
                            <div class="wall__it wall__it--right">
                                <div class="wall__it__triangle"></div>
                                <div class="wall__it__btn"></div>
                                <div class="wall__it__inner">
                                    <header class="wall__it__header">
                                        <span class="wi__date">09/05/2015</span>
                                        <div class="wi__share"><i></i></div>
                                        <div class="wi__comment"><i></i></div>
                                    </header>
                                    <section class="wall__it__content">
                                        <p class="wi__text">Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых предложений. Разнообразный и богатый опыт дальнейшее развитие различныхсоответствует насущным потребностям. Товарищи! начало повседневной работы по формированию позиции способствует подготовки и реализации модели развития. Таким образом консультация с широким активом играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также рамки и место обучения кадров способствует подготовки и реализации направлений прогрессивного развития. Товарищи! постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Таким образом укрепление и развитие структуры требуют определения и уточнения дальнейших направлений развития.</p>
                                    </section>
                                    <footer class="wall__it__likes">
                                        <div class="wil__btn"><i></i></div>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__more">+21</a>
                                    </footer>
                                </div>
                            </div>
                            
                            <div class="wall__it wall__it--left">
                                <div class="wall__it__triangle"></div>
                                <div class="wall__it__btn"></div>
                                <div class="wall__it__inner">
                                    <header class="wall__it__header">
                                        <span class="wi__date">09/05/2015</span>
                                        <div class="wi__share"><i></i></div>
                                        <div class="wi__comment"><i></i></div>
                                    </header>
                                    <section class="wall__it__content">
                                        <p class="wi__text">Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых предложений. Разнообразный и богатый опыт дальнейшее развитие различныхсоответствует насущным потребностям. Товарищи! начало повседневной работы по формированию позиции способствует подготовки и реализации модели развития. Таким образом консультация с широким активом играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также рамки и место обучения кадров способствует подготовки и реализации направлений прогрессивного развития. Товарищи! постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Таким образом укрепление и развитие структуры требуют определения и уточнения дальнейших направлений развития.</p>
                                    </section>
                                    <footer class="wall__it__likes">
                                        <div class="wil__btn"><i></i></div>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__more">+21</a>
                                    </footer>
                                </div>
                            </div>

                            <div class="wall__it wall__it--right">
                                <div class="wall__it__triangle"></div>
                                <div class="wall__it__btn"></div>
                                <div class="wall__it__inner">
                                    <header class="wall__it__header">
                                        <span class="wi__date">09/05/2015</span>
                                        <div class="wi__share"><i></i></div>
                                        <div class="wi__comment"><i></i></div>
                                    </header>
                                    <section class="wall__it__content">
                                        <p class="wi__text">Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых предложений. Разнообразный и богатый опыт дальнейшее развитие различныхсоответствует насущным потребностям. Товарищи! начало повседневной работы по формированию позиции способствует подготовки и реализации модели развития. Таким образом консультация с широким активом играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также рамки и место обучения кадров способствует подготовки и реализации направлений прогрессивного развития. Товарищи! постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Таким образом укрепление и развитие структуры требуют определения и уточнения дальнейших направлений развития.</p>
                                    </section>
                                    <footer class="wall__it__likes">
                                        <div class="wil__btn"><i></i></div>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__more">+21</a>
                                    </footer>
                                </div>
                            </div>

                            <div class="wall__it wall__it--left">
                                <div class="wall__it__triangle"></div>
                                <div class="wall__it__btn"></div>
                                <div class="wall__it__inner">
                                    <header class="wall__it__header">
                                        <span class="wi__date">09/05/2015</span>
                                        <div class="wi__share"><i></i></div>
                                        <div class="wi__comment"><i></i></div>
                                    </header>
                                    <section class="wall__it__content">
                                        <p class="wi__text">Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых предложений. Разнообразный и богатый опыт дальнейшее развитие различныхсоответствует насущным потребностям. Товарищи! начало повседневной работы по формированию позиции способствует подготовки и реализации модели развития. Таким образом консультация с широким активом играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также рамки и место обучения кадров способствует подготовки и реализации направлений прогрессивного развития. Товарищи! постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Таким образом укрепление и развитие структуры требуют определения и уточнения дальнейших направлений развития.</p>
                                    </section>
                                    <footer class="wall__it__likes">
                                        <div class="wil__btn"><i></i></div>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__more">+21</a>
                                    </footer>
                                </div>
                            </div>

                            <div class="wall__it wall__it--right">
                                <div class="wall__it__triangle"></div>
                                <div class="wall__it__btn"></div>
                                <div class="wall__it__inner">
                                    <header class="wall__it__header">
                                        <span class="wi__date">09/05/2015</span>
                                        <div class="wi__share"><i></i></div>
                                        <div class="wi__comment"><i></i></div>
                                    </header>
                                    <section class="wall__it__content">
                                        <p class="wi__text">Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых предложений. Разнообразный и богатый опыт дальнейшее развитие различныхсоответствует насущным потребностям. Товарищи! начало повседневной работы по формированию позиции способствует подготовки и реализации модели развития. Таким образом консультация с широким активом играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также рамки и место обучения кадров способствует подготовки и реализации направлений прогрессивного развития. Товарищи! постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Таким образом укрепление и развитие структуры требуют определения и уточнения дальнейших направлений развития.</p>
                                    </section>
                                    <footer class="wall__it__likes">
                                        <div class="wil__btn"><i></i></div>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__more">+21</a>
                                    </footer>
                                </div>
                            </div>

                            <div class="wall__it wall__it--left">
                                <div class="wall__it__triangle"></div>
                                <div class="wall__it__btn"></div>
                                <div class="wall__it__inner">
                                    <header class="wall__it__header">
                                        <span class="wi__date">09/05/2015</span>
                                        <div class="wi__share"><i></i></div>
                                        <div class="wi__comment"><i></i></div>
                                    </header>
                                    <section class="wall__it__content">
                                        <p class="wi__text">Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых предложений. Разнообразный и богатый опыт дальнейшее развитие различныхсоответствует насущным потребностям. Товарищи! начало повседневной работы по формированию позиции способствует подготовки и реализации модели развития. Таким образом консультация с широким активом играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также рамки и место обучения кадров способствует подготовки и реализации направлений прогрессивного развития. Товарищи! постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Таким образом укрепление и развитие структуры требуют определения и уточнения дальнейших направлений развития.</p>
                                    </section>
                                    <footer class="wall__it__likes">
                                        <div class="wil__btn"><i></i></div>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__more">+21</a>
                                    </footer>
                                </div>
                            </div>

                            <div class="wall__it wall__it--right">
                                <div class="wall__it__triangle"></div>
                                <div class="wall__it__btn"></div>
                                <div class="wall__it__inner">
                                    <header class="wall__it__header">
                                        <span class="wi__date">09/05/2015</span>
                                        <div class="wi__share"><i></i></div>
                                        <div class="wi__comment"><i></i></div>
                                    </header>
                                    <section class="wall__it__content">
                                        <p class="wi__text">Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых предложений. Разнообразный и богатый опыт дальнейшее развитие различныхсоответствует насущным потребностям. Товарищи! начало повседневной работы по формированию позиции способствует подготовки и реализации модели развития. Таким образом консультация с широким активом играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также рамки и место обучения кадров способствует подготовки и реализации направлений прогрессивного развития. Товарищи! постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Таким образом укрепление и развитие структуры требуют определения и уточнения дальнейших направлений развития.</p>
                                    </section>
                                    <footer class="wall__it__likes">
                                        <div class="wil__btn"><i></i></div>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__user" title="#">
                                            <img src="#" alt="#" />
                                        </a>
                                        <a href="#" class="wil__more">+21</a>
                                    </footer>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>