<section class="profile">
    <div class="container-fluid">
        <div class="row">
            <div ng-if="!profile.unknown && profile.user.loaded">
                <div class="profile__info"
                     data-mousewheel-scroller>
                    <div class="user-info"
                         ng-class="{ 'user-info--media': profile.user.media.length }">

                        @*-----User info avatar-----*@
                        <div class="user-info__avatar"
                             flow-init="{ target: '/api/upload', testChunks: false, fileParameterName: 'Avatar' }"
                             flow-file-success="profile.avatarResponse($message)"
                             flow-files-submitted="$flow.upload()">
                            <div class="user-info__avatar__img-wrap"
                                 ng-if="$root.user.avatar.length">
                                <img ng-src="{{ $root.user.avatar | imageResize:{w: 230, h: 230} }}" class="user-infor__avatar__img" />
                                <span ng-click="profile.removeAvatar($flow)" class="uia__remove"><i></i></span>
                                <span flow-btn class="uia__change"><i></i></span>
                            </div>
                            @*TODO пока аватар менять нельзя, а при регистрации он обязателен*@
                            <div ng-if="!$root.user.avatar.length"
                                 flow-btn
                                 class="ui__avatar-upload">
                                <i class="icon-upload"></i>
                                <p class="link">+ @R("Загрузить аватар")</p>
                            </div>
                        </div>
                        @*-----User info avatar-----*@

                        @*-----User info media block-----*@
                        <div class="user-info__media">
                            <div ng-repeat="media in profile.user.media"
                                 media-show-modal
                                 data-id="{{::media.recordId}}"
                                 data-index="{{::media.index}}"
                                 data-entity-type="record"
                                 class="ui-m__it">
                                <img ng-src="{{ ::(media.url|imageResize:{w:77, h:77}) }}" class="ui-m__it__img" />
                                <div ng-show="media.type == 'video'" class="ui-m__it__overlay">
                                    <span class="ui-m__it__play"></span>
                                </div>
                            </div>
                        </div>
                        @*-----User info media block-----*@

                        @*-----User info about user-----*@
                        <div class="user-info__about">
                            <p class="ui__name">{{profile.user.fullName}}</p>
                            <p class="ui__age">{{profile.user.age | formatWord:['@R("год")', '@R("года")', '@R("лет")']:true}} / {{profile.user.sportTime | formatWord:['@R("год")', '@R("года")', '@R("лет")']:true}} @R("в спорте")</p>
                            <p ng-show="profile.user.location.length" class="ui__location">{{profile.user.location}}</p>
                            <a ng-if="profile.user.isOwner" href="#" class="ui__edit">@R("Редактировать профиль")</a>
                            <button ng-if="!profile.user.isOwner" class="btn btn--subscribe"><i class="icon"></i></button>
                        </div>
                        @*-----User info about user-----*@

                    </div>

                    @*-----User achievements-----*@
                    <div ng-if="profile.user.achievements" class="pi__row">
                        <p class="pi__row__title">@R("Достижения") ({{profile.user.achievements.closed.count}}) <span ng-if="!profile.user.achievements.closed.length" class="link" data-modal-click="aboutAchievement">@R("Что это?")</span></p>
                        <ul class="achievement-list achievement-list--grid">
                            <li ng-repeat="a in profile.user.achievements.closed.list" class="al__it">
                                <a ui-sref="main.achievementView({id: a.id})">
                                    <img ng-src="{{ a.cupImage | imageResize:{w: 75, h:75} }}" class="al__it__img" />
                                </a>
                            </li>
                        </ul>
                        <a ng-if="!profile.user.achievements.closed.list.length" ui-sref="main.achievementAdd" class="btn btn-fill-green">@R("Подать заявку на достижение")</a>
                        <div ng-if="profile.user.achievements.opened.list.length">
                            <p class="pi__row__title">@R("Работа над достижениями") ({{profile.user.achievements.opened.count}})</p>
                            <ul class="achievement-list achievement-list--grid">
                                <li ng-repeat="a in profile.user.achievements.opened.list" class="al__it">
                                    <a ui-sref="main.achievementView({id: a.id})">
                                        <img ng-src="{{ a.cupImage | imageResize:{w: 75, h:75} }}" class="al__it__img" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    @*-----User achievements-----*@
                    

                    @*-----User subscribes & subscribers-----*@
                    <div class="pi__row">
                        <p class="pi__row__title">@R("Подписки") ({{profile.user.subscribe.count}}) <a href="#" ng-if="profile.user.subscribe.count > 4" class="link">@R("Показать всех")</a></p>
                        <ul ng-if="profile.user.subscribe.list.length" class="users-list users-list--grid">
                            <li ng-repeat="subscriber in profile.user.subscribe.list" class="ul__it">
                                <a ui-sref="main.profile({userId: subscriber.id})">
                                    <img ng-src="{{ subscriber.avatar | imageResize:{w: 90, h:90} }}" alt="{{subscriber.fullName}}" class="ul__it__img" />
                                    <span class="ul__it__name">{{subscriber.fullName}}</span>
                                </a>
                            </li>
                        </ul>
                        <a href="#" ng-if="!profile.user.subscribe.list" class="btn btn-fill-green" type="button">@R("Посмотреть всех атлетов")</a>
                        <p class="pi__row__title">@R("Подписчики") ({{profile.user.followers.count}}) <a href="#" ng-if="profile.user.followers.count > 4" class="link">@R("Показать всех")</a></p>
                        <ul ng-if="profile.user.followers.list.length" class="users-list users-list--grid">
                            <li ng-repeat="user in profile.user.followers.list" class="ul__it">
                                <a ui-sref="main.profile({ userId: user.id })">
                                    <img ng-src="{{ user.avatar | imageResize:{w: 90, h:90} }}" alt="{{user.fullName}}" class="ul__it__img" />
                                    <span class="ul__it__name">{{user.fullName}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    @*-----User subscribes & subscribers-----*@
                    
                    @*-----User helps-----*@
                    <div class="pi__row pi__row--helps">
                        <p>
                            <span class="link" data-modal-click="supportSubmit">
                                <i class="icon-question"></i>
                                <span>@R("Техническая поддержка")</span>
                            </span>
                        </p>
                        <p>
                            <span ng-if="profile.user.isOwner"
                                  ng-click="profile.complain('@R("Жалоба на пользователя")')"
                                  class="link">
                                <i class="icon-cart"></i>
                                <span>@R("Пожаловаться на профиль")</span>
                            </span>
                        </p>
                    </div>
                    @*-----User helps-----*@

                </div>
                
                <div class="profile__journal">
                    
                    @*-----Journal record submit-----*@
                    <div ng-if="profile.user.isOwner">
                        <journal-profile-submit success="profile.newRecord($res)"></journal-profile-submit>
                    </div>
                    @*-----Journal record submit-----*@
                    
                    @*-----Journals list-----*@
                    <div ng-if="profile.user.journals.length"
                         class="wall">
                        <div class="wall__bar">
                            <div ng-repeat="it in profile.user.journals"
                                 ng-class="{
                                 'wall__it--right': $index % 2 != 0,
                                 'wall__it--left': $index % 2 == 0,
                                 'wall__it--edit': it.editing && profile.user.isOwner,
                                 }"
                                 class="wall__it">
                                <div class="wall__it__triangle"></div>
                                <div ng-init="it.editing=false" ng-click="it.editing=!it.editing;" class="wall__it__btn"></div>
                                <div class="wall__it__inner">
                                    <header class="wall__it__header-info">
                                        <span class="wi__date">{{::(it.created|date:'dd/MM/yyyy')}}</span>
                                        <div ng-click="profile.shareRecord(it)" class="wi__share"><i></i></div>
                                        <a ui-sref="main.journalIt({id: it.id})" class="wi__comment"><i></i></a>
                                    </header>
                                    <header class="wall__it__header-edit">
                                        <div class="wi__edit" ng-click="profile.edit(it)"><i></i></div>
                                        <div class="wi__remove" ng-click="profile.remove(it.id)"><i></i></div>
                                    </header>
                                    <section class="wall__it__content">
                                        <div ng-if="it.media.length"
                                             ng-class="{
                                             'video': it.media[0].type=='video',
                                             'image': it.media[0].type=='image'
                                             }"
                                             media-show-modal
                                             data-id="{{::it.id}}"
                                             data-index="0"
                                             data-entity-type="record"
                                             class="wi__media-wrap">
                                            <img ng-src="{{ it.media[0].url | imageResize:{w: 250, h: 170 } }}" class="wi__media__img" />
                                            <div class="wi__media__icon">
                                                <i></i>
                                            </div>
                                        </div>
                                        <p class="wi__text">{{it.text}}</p>
                                    </section>
                                    <likes-in-row ng-model="it.likes"
                                                  data-id="{{::it.id}}"
                                                  data-entity-type="record"></likes-in-row>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="ach.showMore" class="text-center show-more show-more--dark">
                        <button ng-class="{ 'loading': ach.showMoreLoading }"
                                ng-click="ach.loadMore()"
                                type="button" class="show-more__btn">
                            @R("Показать ещё")
                        </button>
                    </div>
                    <div ng-if="!profile.user.journals.length" class="items-negative">@R("Нет ни одной записи")</div>
                    @*-----Journals list-----*@

                </div>
            </div>
            <div ng-if="profile.unknown">
                <div class="items-negative">
                    @R("Профиль пользователя не найден")
                </div>
            </div>
        </div>
    </div>
</section>