@model BLL.Admin.Conference.ViewModels.ConfModel
@using DAL.DomainModel.EnumProperties;

@if (Model != null)
{
    if (Model.Stamp < 0)
    {
        <div class="block">
            <div class="conf-date">
                <div>
                    <a href="@Url.Action("Index", "Conference", new {id = Model.Id})" class="conf-date__link">Видеоконференция на тему "@Model.Title" уже началась! Ссылка</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="block">
            <div conf-date="@Model.Stamp"></div>
        </div>
    }
}

@*Доступпные поля*@
@*@Model.Title;
@CurrentUser.User.Profile.Avatar;
@Model.Description;
@Model.Date;
@Model.Status;
@Model.Stamp;
@(Model.Status == ConfStatus.Process)*@