@{
    ViewBag.Title = "Fortress - Блог";
    Layout = "../Blog/Shared/Layouts/BlogLayout.cshtml";
}

@*Промо блок на главной*@
@Html.Partial("Shared/Partials/Blocks/Promo")

@*Навигация по контенту*@
@Html.Partial("Shared/Partials/Blocks/ContentNavigation")

<div class="blog__content block">
    <div class="container">
        <div class="row blog__content__top">
            <div class="col-xs-8">
                
                @*Список статей*@
                @Html.Partial("Shared/Partials/ArticlesList")
            </div>
            <div class="col-xs-4">
                
                @*Блок авторизации/регистрации*@
                @Html.Partial("Shared/Partials/Blocks/AuthRegBlock")

                @*Таймер конференции*@
                <div class="block">
                    <div conf-date="12312"></div>
                </div>
                
                @*Блок меню (по рубрикам)*@
                @Html.Partial("Shared/Partials/Blocks/Menu")
            </div>
        </div>
    </div>
</div>