@model BLL.Blog.ViewModels.BlogPostViewModel
@{
    ViewBag.Title = "Fortress - " + Model.Title;
    Layout = "~/Views/Blog/Shared/Layouts/BlogLayout.cshtml";
}
<div class="article">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="article__item block">
                    <div class="article__item__img-wrap">
                        <img src="@Model.Images[0].Url?width=800&height=430&mode=crop" alt="статьюшка" class="article__item__img" />
                    </div>
                    <div class="article__item__text">
                        <h2 class="article__item__title">@Model.Title</h2>
                        <div class="article__item__desc">
                            @Html.Raw(Model.Text)
                        </div>
                        <div class="article__item__bottom">
                            <div class="pull-left">
                                @Html.Partial("Shared/Partials/Article/Info", Model)
                            </div>
                            <div class="pull-right">
                                @Html.Partial("Partials/Rating", Model)
                            </div>
                        </div>
                    </div>
                </div>

                @*Комментарии*@
                @Html.Partial("Partials/Comments", Model)
            </div>
            <div class="col-sm-4">

                @*Информация об авторе*@
                <div class="block">
                    @Html.Partial("Shared/Partials/Blocks/User", Model)
                </div>

                @*Блок авторизации, регистрации*@
                @if (CurrentUser.IsAnonimous)
                {
                    @Html.Partial("Shared/Partials/Blocks/AuthRegBlock")
                }

                @*Таймер конференции*@
                @{ Html.RenderAction("RenderTime", "Conference"); }

                @{ Html.RenderAction("GetRubrics", "Blog"); }
            </div>
        </div>
    </div>
</div>








