<section class="users-list-page">
    <div data-loader="ulist.loader"
         ng-if="!ulist.pageError">
        
        <div ng-init="ulist.showFilter = true" ng-show="ulist.showFilter" class="filter-header-row text-center">
            <div class="container">
                <users-filter filter="ulist.filter" callback="ulist.updateList()" query-list-limit="10"></users-filter>
            </div>
        </div>
        
        <div class="ulp__search">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-1">
                        <input ng-model="ulist.filter.query" class="fs-input" type="text" placeholder="@R("Введите имя пользователя")" />
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-fill-green btn-xl" ng-click="ulist.updateList()">@R("Поиск")</button>
                        <button class="link link--blue" ng-click="ulist.showFilter = !ulist.showFilter">
                            <span ng-show="ulist.showFilter">@R("Скрыть фильтр")</span>
                            <span ng-show="!ulist.showFilter">@R("Показать фильтр")</span>
                        </button>      
                    </div>
                </div>
            </div>
        </div>

        <div class="ulp__inner">
            <div class="container">
                
                <ul class="users-list users-list--cards">
                    <li ng-repeat="u in ulist.list" class="ul__it">
                        <a ui-sref="main.profile({userId: u.id})" class="ul__it__img-wrap">
                            <img ng-src="{{ u.avatar|imageResize:{w: 250, h: 250} }}" class="ul__it__img" />
                        </a>
                        <div class="ul__it__info">
                            <a ui-sref="main.profile({userId: u.id})" class="ul__it__name">{{u.fullName}}</a>
                            <div class="ul__it__age">{{u.age | formatWord:['@R("год")', '@R("года")', '@R("лет")']:true}} / {{u.sportTime | formatWord:['@R("год")', '@R("года")', '@R("лет")']:true}} @R("в спорте")</div>
                            <ul class="ul__it__stat">
                                <li ng-if="u.location.length" class="ul__location">{{u.location}}</li>
                                <li class="ul__records"><b>{{u.recordsCount}}</b> {{u.recordsCount|formatWord:['@R("запись")', '@R("записи")', '@R("записей")']}}</li>
                                <li class="ul__ach"><b>{{u.achievementsCount}}</b> {{u.achievementsCount|formatWord:['@R("достижение")', '@R("достижения")', '@R("достижений")']}}</li>
                            </ul>
                        </div>
                        <div class="ul__it__fw">
                            <subscribers-in-row ng-model="u.subscribers"
                                                data-id="{{::u.id}}"></subscribers-in-row>
                        </div>
                    </li>
                </ul>

                <div ng-if="ulist.showMore" class="text-center show-more show-more--dark">
                    <button ng-class="{ 'loading': ulist.showMoreLoading }"
                            ng-click="ulist.loadMore()"
                            type="button" class="show-more__btn">
                        @R("Показать ещё")
                    </button>
                </div>
                <div ng-if="!ulist.list.length" class="alert alert-info text-center">
                    @R("Ничего не найдено. Попробуйте изменить критерии поиска.")
                </div>
            </div>
        </div>
    </div>

    <div ng-if="ulist.pageError"
         class="server-error server-error--dark">
        <div class="container">
            <div class="alert alert-warning text-center">@R("Что то пошло не так. Пожалуйста вернитесь на страницу просмотра атлетов позже. Мы уже прилагаем все усилия чтобы устранить проблему.")</div>
        </div>
    </div>
</section>