@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @*------------ Open Graph------- *@
    <meta property="og:url" content="@(ViewBag.OgUrl != null ? ViewBag.OgUrl : Request.Url.ToString())" />
    <meta property="og:title" content="@(ViewBag.OgTitle ?? "Fortress")" />
    <meta property="og:description" content="@(ViewBag.OgDescription ?? "Fortress")" />
    <meta property="og:site_name" content="IgTemplate.ru" />
    <meta property="og:image" content="@(ViewBag.OgImage ?? "http://" + Request.Url.Host + "/content/images/logo.png")" />
    <meta property="og:type" content="website" />
    @*------------End Open Graph----- *@

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@(ViewBag.Title ?? "Fortress")</title>
    <meta name="keywords" content="@(ViewBag.Keywords ?? "Fortress")" />
    <meta name="description" content="@(ViewBag.Description ?? "Fortress")" />

    @Styles.Render("~/content/bundles/main.css")
    @Styles.Render("~/content/bundles/main.less")
    @RenderSection("Styles", false)

    <link rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon">
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", false)
</body>
</html>