<div data-landing-scripts class="landing">
    <div class="landing__left">
        <div class="brand">
            <div class="logo"></div>
            <h1>@R("Fortress")</h1>
        </div>
        <div class="middle js-slider-left-wrap">

            <div class="slide__left-it">
                <div class="sl__title">
                    <span class="sl__icon sl__icon--journal"></span>
                    <span class="sl__title">@R("Дневник")</span>
                </div>
                <p class="sl__desc">@R("Фиксируй свои тренировки в on-line дневнике и следи за тем, как тренируются другие")</p>
            </div>

            <div class="slide__left-it hidden">
                <div class="sl__title">
                    <span class="sl__icon sl__icon--journal"></span>
                    <span class="sl__title">Дневник2</span>
                </div>
                <p class="sl__desc">2Фиксируй свои тренировки в on-line дневнике и следи за тем, как тренируются другие</p>
            </div>
            <div class="slide__left-it hidden">
                <div class="sl__title">
                    <span class="sl__icon sl__icon--journal"></span>
                    <span class="sl__title">Дневник3</span>
                </div>
                <p class="sl__desc">3Фиксируй свои тренировки в on-line дневнике и следи за тем, как тренируются другие</p>
            </div>

            <div class="slide__left-it hidden">
                <div class="sl__title">
                    <span class="sl__icon sl__icon--journal"></span>
                    <span class="sl__title">Дневник4</span>
                </div>
                <p class="sl__desc">4Фиксируй свои тренировки в on-line дневнике и следи за тем, как тренируются другие</p>
            </div>

        </div>
        <div class="social">
            <p>@R("Расскажите друзьям"):</p>
            <social-share></social-share>
        </div>
    </div>
    <div class="landing__right">
        <header class="landing__header">
            <ul class="list-links list-links--hor">
                <li>
                    <span class="link" data-modal-click="loginSubmit">
                        <span class="dot dot--green"></span>
                        <span>@R("Войти")</span>
                    </span>
                </li>
                <li>
                    <a ui-sref="registration" class="btn btn-fill-green">@R("Регистрация")</a>
                </li>
            </ul>
            @*<div class="auth-social">
                <span class="as__text">@R("Войти с помощью"): </span>
                <ul class="as__list">
                    <li>
                        <span class="as__icon as__icon--tw"></span>
                    </li>
                    <li>
                        <span class="as__icon as__icon--fb"></span>
                    </li>
                    <li>
                        <span class="as__icon as__icon--gp"></span>
                    </li>
                    <li>
                        <span class="as__icon as__icon--vk"></span>
                    </li>
                </ul>
            </div>*@
        </header>
        <h6 class="slide__short-desc">@R("Online-дневник тренировок с фотографиями и видео")</h6>
        <h6 class="slide__short-desc hidden">Online-дневник тренировок с фотографиями и видео</h6>
        <h6 class="slide__short-desc hidden">Online-дневник тренировок с фотографиями и видео</h6>
        <h6 class="slide__short-desc hidden">Online-дневник тренировок с фотографиями и видео</h6>
        <div class="slider-mac-wrap">
            <div class="slider-mac-body">
                <img src="../../../Content/socialApp/images/views/landing/macbook.png" class="slider-mac__item" />
                <img src="../../../Content/socialApp/images/views/landing/macbook.png" class="slider-mac__item" />
                <img src="../../../Content/socialApp/images/views/landing/macbook.png" class="slider-mac__item" />
                <img src="../../../Content/socialApp/images/views/landing/macbook.png" class="slider-mac__item" />
            </div>
        </div>
        <footer class="landing__footer">
            <ul class="list-links list-links--hor">
                <li>
                    <span data-modal-click="policy" class="link">@R("Политика конфиденциальности")</span>
                </li>
                <li>
                    <span data-modal-click="supportSubmit" class="link">@R("Техническая поддержка")</span>
                </li>
            </ul>
        </footer>
    </div>
</div>